<!DOCTYPE html>

{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Eliminar Pokémon</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'header.html' %}
    <h1>Eliminar Pokémon</h1>
    <p>¿Estás seguro que deseas eliminar a {{ object.name|capfirst }}?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Sí, eliminar</button>
    </form>
    <a href="{% url 'pokemon_list' %}">Cancelar</a>
</body>
</html>
