{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="card-title">
                        {% if form.instance.id %}
                            Edit User
                        {% else %}
                            Create New User
                        {% endif %}
                    </h3>
                </div>
                <div class="card-body">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        
                        <div class="mb-3">
                            <label for="{{ form.title.id_for_label }}" class="form-label">Name</label>
                            {{ form.name }}
                            {% if form.name.errors %}
                                <div class="text-danger">
                                    {{ form.name.errors }}
                                </div>
                            {% endif %}
                        </div>
                        
                        <div class="mb-3">
                            <label for="{{ form.description.id_for_label }}" class="form-label">Profesion</label>
                            {{ form.profesion }}
                            {% if form.profesion.errors %}
                                <div class="text-danger">
                                    {{ form.profesion.errors }}
                                </div>
                            {% endif %}
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="{{ form.special_day.id_for_label }}" class="form-label">Special Day</label>
                                {{ form.special_day }}
                                {% if form.special_day.errors %}
                                    <div class="text-danger">
                                        {{ form.special_day.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            
                            <div class="col-md-4 mb-3">
                                <label for="{{ form.estado.id_for_label }}" class="form-label">Estado</label>
                                {{ form.estado }}
                                {% if form.status.errors %}
                                    <div class="text-danger">
                                        {{ form.estado.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a href="{% url 'usuario_list' %}" class="btn btn-secondary me-md-2">Cancel</a>
                            <button type="submit" class="btn btn-primary">
                                {% if form.instance.id %}
                                    Update Usuario
                                {% else %}
                                    Create Usuario
                                {% endif %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
